html{
    height:100%;
    width:100%;
}
body{
    font-family: -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
     'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    height:100%;
    width:100%;
    background-color:#743f26b3;
}
section#flex{
    display:flex;
}
.avarter_icon {
    height: 50px;
     width: 50px;
     margin-top:20px;
     border-radius: 100%;
     color: rgba(255, 255, 255, .7);
     text-align: center;
     font-size: 1.7em;
     line-height: 0em;
     top: 10%;
     right: 15%;
     box-shadow: 0px 0px 5px 8px rgba(134, 65, 169, 0.8);
 }
#profile{
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 100px;
    width:70%;
}
.profile{
    margin-top:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    background-color:#bbbaba; 
    box-shadow:0px 0px 4px 4px#473c3c;
}
.topQuestion{
   margin-top:80px;
   margin-left:30px;
   width:30%;
}
.topq{
    background-color:#bbbaba;
    border-radius: 7px; 
    box-shadow:0px 0px 4px 4px#473c3c;
}
h2{
    font-size: 20px;
    text-decoration-style:solid;
    text-shadow: 2px 2px #6e5c74;
    color:#5d4343;
}
.col{
    display: flex;
    flex-direction: row;      
}
.recq{
    padding-left: 0px;
    margin-top:30px;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.questions{
    display: flex;
    border-style: solid;
    border-width: thin;
    height:70px;
    width:100%;
    margin-right:150px;
    margin-left:0px;
}
.cp{
    display: flex;
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
    margin: 0px 0px 0px 10px; 
}

.answered{
    border: powderblue;
    border-style: solid;
    border-width: thin;
    width: 60px;
    height:50px;
}
.topic{
    text-decoration: none;
}
h3{
    border: powderblue;
    border-style: hidden;
    border-width: thin;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 5px;
    
}
/*tags*/
.tag-question{
    flex: 1;
    border: powderblue;
    border-style: hidden;
    color: rgb(161, 161, 223);
    margin: 5px 0px 0px 10px; 
}
.tags{
    display: flex;
    margin-top: 0px;
    border: powderblue;
    border-style: hidden;
    width:50%;
   
}
.tags a{
    border-style: hidden;
    background-color: powderblue;
    text-decoration: none;
    margin:0px 10px 0px 0px;
    padding:0px 5px 0px 5px;
}
.time{  
    margin:0px 5px 0px 0px;
}
.time a{   
    text-decoration: none;
    color: black;
}
.tag-time{
    display: flex;
    justify-content: space-between;
}
#eldt{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 100px;
    font-size: 25px;   
}
#eldtn{
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 100px;
    font-size: 25px;   
}