body{
    border-style: solid;
    border-width: 0px 2px 2px 2px;
    margin: 0px;
}
.body_container{
    padding: 10px 5px;
    text-align: center;
    margin-bottom: 40px;
    max-width: 1600px;
    background: rgba(0,0,0,0.7); 
    border-radius: 10px; 
    border-style: solid;
}
input{
	width: 300px;
	height: 30px;
	text-align: center;
	margin-left: 80px;
    border-radius: 6px;
}