.logo-nav {
    overflow: hidden;
    background-color: #e9e9e9;
    height:60px;
    display:flex;
    justify-content: space-between;
  }
  
  .logo-nav li {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 0px 0px 32px;
    text-decoration: none;
    font-size: 17px;
    height:50px;
    border-right:1px solid #bbb;
    display:flex;
    justify-content: space-between;
  }
  li:first-child {
    border-right: none;
}
  
  .logo-nav input[type=text] {
    padding: 6px;
    margin-top: 0px;
    font-size: 17px;
    border: 1px solid #ccc;  
    border-radius: 30px 30px  30px 30px;
    
  }
  
  .logo-nav .search-container button {
    padding: 6px;
    margin: 5px 80px 0px 0px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 30px 30px  30px 30px;
    height:20px;
  }
  
  .logo-nav .search-container button:hover {
    background: #ccc;
  }
  @media screen and (max-width: 600px) {
      .logo-nav .search-container {
      float: none; 
    }
    .logo-nav li, .logo-nav input[type=text], .logo-nav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0px;
      padding: 0px 5px 0px 5px;
      border-radius: 30px 30px  30px 30px;
    } 
  }
  .main-logo{
      height: 40px;
      width:300px;
      padding: 0px;
      margin: 0;
  }
  .logo-nav li{
      list-style: none;
  }
  .logo-nav ul{
      margin: 0;
  }
  .logo-nav li a {
      display: block;
      color: black;
      font-size: 20px;
      text-align: center;
      padding: 3px 16px 0px 16px;
      text-decoration: none;
  }
  .logo-nav a:hover{
    background-color:powderblue;
    color: black;
  }
  
  .logo-nav div a:hover{
    background-color:#e9e9e9;
    border-style:hidden;
    color: black;
  }

  .active {
    border-style:solid;
    border-width: 0px 0px 3px 0px;
  }
  